build/
.*.swp

/build-aux
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/aclocal.m4
/libtool
/src/plfit_config.h.in
/configure
/plfit.pc
Makefile
Makefile.in
/src/config.h

/autom4te.cache
config.status
config.log

/src/plfit
/src/plgen

/test/test_continuous
/test/test_discrete
/test/test_gss
/test/test_kolmogorov
/test/test_real
/test/test_sampling
/test/test_underflow_handling

.deps
.libs
*.o
*.lo
*.la
stamp-h1

*.trs
test_*.log
test-suite.log

plfit-*.tar.*
plfit-*.zip
